/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
  line-height: 20px;
  width: 60%;
  margin: auto;
}

hr {
  margin: 40px 20px 40px;
}

/* all contents from fixed top bar and navigation contained in 'top' class */

.top {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  text-align: center;
  background-image: linear-gradient(to right, #b3cdf6, white);
  z-index: 1;
  width: 60%;
  padding-bottom: 10px;
  padding-top: 40px;
  margin-top: -1px;
  margin-left: -1px;
  border: 1px solid lightgrey;
  position: fixed;
}

nav {
  display: flex;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="services-box"] {
    width: 100%;
  }
}

/*  inline block */
nav a {
  display: flex;
  margin: 0 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.welcome {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 50px;
  padding-right: 30px;
}

.pageTitle {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 65px;
  line-height: 80px;
  text-transform: uppercase;
  text-align: center;
}
.getStarted {
  background-image: linear-gradient(to right, white, #b3cdf6);
  text-decoration: none;
  text-transform: none;
  color: black;
  font-size: 18px;
  line-height: 18px;
  width: 165px;
  height: 30px;
  padding-top: 6px;
  border: 0.75px solid black;
  border-radius: 6%;
  transition: all 0.1s ease-in-out;
  transform: scale(1);
}

.getStarted:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.1);
}

.getStarted:active {
  transform: perspective(1px) translateZ(0);
}

.header-img {
  /* border: 2px solid pink; */
}

/* all contents below the header and title will be contained in below classes */

h3 {
  font-size: 24px;
}

.bottom {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: space-between;
}

.info {
  display: flex;
  justify-content: space-between;
}
.pars {
  font-size: 18px;
  width: 40%;
}

.middle-img {
  width: 100%;
  margin-top: 50px;
  padding-bottom: 50px;
}

.pars2 {
  font-size: 18px;
  width: 29%;
}

address {
  padding-left: 35px;
  padding-top: 35px;
  font-size: 18px;
}

.Copyright {
  padding: 60px 0 30px 0;
  text-align: center;
}

/* Services Page specific styling begins here  */

.services-header-img {
  padding-top: 86px;
  width: 100%;
}

.services {
  margin-top: 30px;
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services-box {
  width: 45%;
  background: #f4f3f4;
  border: 1px solid darkgrey;
  padding: 20px;
  margin-bottom: 30px;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: black;
  background: white;
  padding: 6px 20px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10%;
  transition: all 0.1s ease-in-out;
  transform: scale(1);
}

button:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.05);
}

button:active {
  transform: perspective(1px) translateZ(0);
}

.services-bottom {
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
}

.services-bottom div {
  width: 45%;
}

ul {
  margin-top: 20px;
  list-style-type: square;
  list-style-position: inside;
}

ul li {
  line-height: 25px;
}

/* Product Page specific styling begins here  */

.all-prod {
  width: 100%;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-img {
  width: 100%;
}

.prod-row {
  width: 100%;
  display: flex;
}

.individual-prod {
  margin: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: 0.3s;
  border: 2px solid white;
}

.individual-prod:hover {
  opacity: 0.3;
  cursor: help;
  border: 2px solid lightgrey;
  border-radius: 5%;
}